@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }
  /* shared styles */
  .Head-color{
    color: #0D1321;
  }
/* nav styles */
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: top 38px;
  margin-right: 150px;
}
nav li a{
  text-decoration: none;
  font-size: 20px;
}
nav ul li{
  list-style: none;
}
.nav-title{
  font-weight: 800;
  font-size: 28px;
  margin-top: 50px;
  margin-left: 150px;

}
.btn-primary{
  font-weight: 600;
  color: #0D1321;
  padding: 10px 30px;
  border-color: rgb(14, 15, 15);
  border-radius: 5px;
  font-size: 20px;
  margin-right: 20px;
}
/* Banner Styles */
.banner{
  display: flex;
  justify-content: center;
 
 
}
.banner-content{
  max-width: 880px;
}
.Img-Group{
  margin-left: 300px;
  margin-top: 30px;
  max-width: 240px;
  max-height: 240px;
}
.banner-h1{
  text-align: center;
  margin-top: 32px;
  color: #0D1321;
}
.banner-description{
  text-align: center;
  margin-top: 24px;
  color: #0D1321;
}
.banner-btn{
  background-color: #0D1321;
  font-weight: 600;
  font-size: 16px;
  color: white;
  padding: 10px 30px;
  border-radius: 5px;
  margin-left: 360px;
  margin-top: 26px;
  margin-bottom: 20px;
}
.background{
  background-image: url(../assets/Hero-bg.png);
}

/* main styles */
main{
  padding-top: 64px;
  max-width: 1040px;
  margin: 0 auto;
}
.body-header{
  max-width: 800px;
  margin: 0 auto;
}
.body-h1{
  font-size: 32;
  font-weight: 800;
  text-align: center;
  color: #0D1321;
  margin-top: 70px;
  text-align: center;
}
.main-body{
  background-color: rgba(13, 19, 33, 0.02);
  padding-top: 50px; 
  border-radius: 15px;
  padding-bottom: 50px;
}
.linear-Bg{
 background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}
.linear-Bg2{
  background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
 }
.body-d1{
  font-size: 16;
  font-weight: 400;
  text-align: center;
}
.body-body{
  max-width: 800px;
  margin: 0 auto;
  padding-top: 40px;
}
.body-p1{
  padding-left: 40px;
  padding-top: 40px;
  margin-right: 25px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin-left: 40px;
}
.p-des{
  font-size: 14px;
  
}
.p1-left{
  max-width: 350px;
  color: rgba(13, 19, 33, 0.7);
  text-align: left;
  margin-bottom: 16px;
  font-size: 2;
}
.p1-btn{
 background-color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  color:#0D1321;
  padding: 10px 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.p1-btn a{
  text-decoration: none;
  color:#0D1321;
}


.body-p2{
  margin-top: 30px;
  padding-left: 40px;
  padding-top: 40px;
  margin-right: 25px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin-left: 40px;
}
.p2-right{
  max-width: 350px;
  text-align: left;
  color: rgba(13, 19, 33, 0.7);
  margin-bottom: 16px;
}
.p2-btn{
  background-color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  color:#0D1321;
  padding: 10px 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.p2-btn a{
  text-decoration: none;
  color:#0D1321;
}
.body-p3{
  margin-top: 30px;
  padding-left: 40px;
  padding-top: 40px;
  margin-right: 25px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin-left: 40px;

}
.p3-left{
  max-width: 350px;
  text-align: left;
  color: rgba(13, 19, 33, 0.7);
  margin-bottom: 16px;
}
.p3-btn{
  background-color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  color:#0D1321;
  padding: 10px 30px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.p3-btn a{
  text-decoration: none;
  color:#0D1321;
}
.next-body{
  padding-top: 50px;
}
.next-body-head{
  max-width: 700px;
  margin-left: 150px;
  text-align: center;
}
.YT-Video{
  padding: 30px;
  background-color: #ffffff;
  border: 0.5px solid rgba(13, 19, 33, 0.2);
  align-items: center;
  border-radius: 15px;
  
}
.Video1{
  border-radius: 10px;
}
.title-2{
  font-size: 30px;
  font-weight: 800;
  color: #0D1321;
}
.des2{
  font-size: 18px;
  font-weight: 400;
  color: #0D1321;
  margin-bottom: 40px;
}
.last-body{
  padding-top: 70px;
}
.last-body-header{
  max-width: 800px;
  margin-left: 150px;
  text-align: center;

}
.skill-parent{
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}
.skill-1{
  margin-top: 20px;
  background-color: rgba(255, 76, 30, 0.05);
  max-width: 350px;
  padding: 35px;
  border-radius: 10px;
  margin-right: 24px;
}
.skill-title{
  margin-top: 24px;
margin-bottom: 10px;
font-size: 24px;
font-weight: 800;
color:#0D1321;
}
.skill-description{
font-size: 16px;
font-weight: 400;
color:#0D1321;
}
.Link-Learn{
  color:#0D1321;
  font-size: 16px;
  font-weight: 700;
}
.skill-2{
  margin-top: 20px;
  background-color: rgba(0, 76, 232, 0.05);
  max-width: 350px;
  padding: 35px;
  border-radius: 10px;
  margin-right: 24px;
  
}
.skill-3{
  margin-top: 20px;
  background-color: rgba(255, 223, 0, 0.05);
  max-width: 350px;
  padding: 35px;
  border-radius: 10px;
  margin-right: 24px;
}
